body {     
    background-image:linear-gradient(#ffcc33 100px, #fff 450px);
    background-image:-webkit-linear-gradient(#ffcc33 100px, #fff 450px);
    background-repeat: no-repeat;
    background-color: white;
    
    padding-top: 4rem;
}

