{%extends "nav_about.html"%}
{%block title%}About{%endblock%}
{%block content%}
<div class="container">
<h1>About foss-north</h1>

<p>
foss-north is a free / open source conference covering both software and hardware from the technical perspective. We provide a meeting place for the Nordic foss communities and will bring together great speakers with great audiences.
</p>

<p>
We are constantly looking for partners, speakers, sponsors, and events around FOSS in the Nordic region. If you want to be listed here, please contact us at info -at- foss-gbg.se .
</p>
</div>
{%endblock%}
