{%extends "nav_events.html"%}
{%block title%}Events{%endblock%}
{%block fullcontent%}
<div class="col-md-7 contentwrap">
<h1>Events</h1>
    <p>
      FOSS North Conferences hosts multiple conferences per year. We also work 
      closely together with local meetup groups such as 
      <a href="https://foss-gbg.se/">foss-gbg</a> and 
      <a href="https://www.foss-sthlm.se/">foss-sthlm</a>.
    </p>
    <p>
      All FOSS North Conferences events follow our 
      <a href="/about/codeofconduct/">Code of Conduct</a>, aimed at making sure
      there is a fair treatment of all attendees, speakers and sponsors of the 
      events.
    </p>
    <h2>Upcoming events</h2>
    <p>
        These are our currently scheduled events:
    </p>
    {%if events%}
        <div class="eventslist">
        {%for event in events%}
            <h5>{%if event.confurl%}<a href="{{event.confurl}}">{{event.conferencename}}</a>{%else%}{{event.conferencename}}{%endif%}</h5>
            <p class='lead'>
                <span class="nobr"><i class="fa fa-calendar-o"></i> {{event.conferencedatestr}}</span>
                &nbsp;&nbsp;
                <span class="nobr"><i class="fa fa-map-pin"></i> {{event.location}}</span>
            </p>
            {%if event.promotext%}
                {{event.promotext}}
            {%endif%}
            <p><a href="{{event.confurl}}">View website</a>
            {%if event.active%}
                | <a href="/events/{{event.urlname}}/register/">Register</a>
            {%endif%}
            {%if event.callforpapersopen%}
                | <a href="/events/{{event.urlname}}/callforpapers/">Submit presentation</a>
            {%endif%}
            {%if event.callforsponsorsopen%}
                | <a href="/events/sponsor/signup/{{event.urlname}}/">Sign up</a>
            {%endif%}
            </p>
        {%endfor%}
        </div>
    {%else%}
        <p class="text-center">There are currently no scheduled events.</p>
    {%endif%}

  <h2>Past events</h2>
    {%include "events/compacteventlist.inc" with events=past%}
    <p><a href="https://foss-north.se/2019/">foss-north 2019</a>&nbsp;-&nbsp;<a href="https://conf.tube/video-channels/foss_north_2019/videos">conf.tube videos</a>&nbsp;-&nbsp;<a href="https://www.youtube.com/watch?v=7n6IBdh2VmQ&list=PL8Xzb2qPbjDFWaffHT99OaYQYaWBkdswh">YouTube videos</a></p>
    <p><a href="https://foss-north.se/2018/">foss-north 2018</a>&nbsp;-&nbsp;<a href="https://conf.tube/video-channels/foss_north_2018/videos">conf.tube videos</a>&nbsp;-&nbsp;<a href="https://www.youtube.com/watch?v=SSrgi4iHGbs&list=PL8Xzb2qPbjDEpMTPYQy4QrnBbes2j-b9S">YouTube videos</a></p>
    <p><a href="https://foss-north.se/2017/">foss-north 2017</a>&nbsp;-&nbsp;<a href="https://conf.tube/video-channels/foss_north_2017/videos">conf.tube videos</a>&nbsp;-&nbsp;<a href="https://www.youtube.com/watch?v=Euv_vO6lpGA&list=PL8Xzb2qPbjDHRVqq3WTFuWzRU0HtlOp4D">YouTube videos</a></p>
    <p><a href="https://foss-north.se/2016/">foss-north 2016</a></p>
</div>

<div class="col-md-3" id="rightbar">
    <h3>Upcoming events</h3>
{%include "events/compacteventlist.inc"%}
    <h3>Our Event series</h3>
    <ul>
{%for s in series%}
<li><a href="/events/series/{{s.name|slugify}}-{{s.id}}/">{{s.name}}</a></li>
{%endfor%}
    </ul>
</div>
{%endblock%}
